<!--File Name: index.ejs
   Name: Navjot Singh
   Student ID: 301157391
   Date:3-June-2022-->

<!-- Loaded header.ejs template -->
<%- include partials/header.ejs %>

<!-- Loaded main_nav.ejs template -->
<%- include partials/main_nav.ejs %>

    <main id="home">
      <div >
        <h1 id="heading1">Welcome to the <%= title %> page</h1>
        <p id="par1"><%= p1 %></p>
        </div>
    </main>
    <!--Loading footer class for the page-->
    <footer class="page-footer font-small pt-4">
   
<!-- Loaded bottom_nav.ejs template -->
<%- include partials/bottom_nav.ejs %>
