<!--File Name: projects.ejs
   Name: Navjot Singh
   Student ID: 301157391
   Date:3-June-2022-->

<!-- Loaded header.ejs template -->
<%- include partials/header.ejs %>

<!-- Loaded main_nav.ejs template -->
<%- include partials/main_nav.ejs %>

    <main id="mainpro">
      <div >
        <h1 id="heading2">Welcome to the <%= title %> page</h1>
        </div>
        <div>
        <div><%= one %>
        <img src="Assets\images\Screenshot 2022-06-01 162259.png" id="pro">
        <p id="two"><%= p1 %></p>
      </div>
      <div><%= two %>
        <img src="Assets\images\Online-Ballots.webp" id="c1">  
        <p id="three"><%= p2 %></p> 
      </div>
      <div><%= three %>
        <img src="Assets\images\Screenshot 2022-06-02 141135.png" id="c2">   
        <p id="four"><%= p3 %></p>   
      </div>
        <div id="d1">   
        </div>
    </main>

<!--Loading footer class for the page-->  
<footer class="page-footer font-small pt-4">

      
<!-- Loaded bottom_nav.ejs template -->
<%- include partials/bottom_nav.ejs %>
